{% extends 'page/base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'page/css/list.css' %}">
<link rel="stylesheet" href="{% static 'page/css/alerts.css' %}">
{% endblock styles %}

{% block title %}
Comida de {{ user.username }}
{% endblock title %}

{% block content %}
<div class="container justify-content-center">
    <div class="row mt-4">
        <h1 class="col text-center">Comida de {{ user.username }}</h1>
    </div>
    {% if message %}
    <div class="row d-flex justify-content-center" id="message">
        <div class="alert alert-danger text-center" role="alert">
            {{ message }}
        </div>
    </div>
    {% endif %}

    <ul class="row list-group food-list">
        {% for food in foods %}
            <li class="list-group-item d-flex justify-content-around text-light list-item">
                <p class="col-4 h4">
                    {{ food.food }}
                </p>
                <p class="col-4">
                    {{ food.created_at }}
                </p>
                <form action="{% url 'page:foods' user.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="food_id" value="{{ food.id }}" hidden>
                    <input type="submit" hidden id="submit_{{ food.id }}">
                    </input>
                    <label for="submit_{{ food.id }}" class="col-2 delete-food">
                        <span>🗑️</span>
                    </label>
                </form>
            </li>
        {% endfor %}
    </ul>
    
    <div class="row d-flex justify-content-center mt-4">
        <a href="{% url 'page:add_food' user.id%}" class="btn btn-success text-dark col-5">
            Agregar comida
        </a>
    </div>
</div>

{% endblock content %}